.header {
    padding-bottom: 20px;
}

.form {
    margin: 0 auto;
    background-color: #DDE5E2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    max-width: 360px;
}

.input {
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 10px;
}

.input_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 12px;
  display: flex;
  gap: 5px;
}

.search_box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  margin-right: 10px;
}

.icon {
  padding: 0 3px;
}

.search {
  width: 100%;
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1;
}

.button:hover {
  background-color: #B9BEBC;
  cursor: pointer;
}

.button:active {
  background-color: #9BC5B3;
  color: #fff;
}

.select:hover {
  cursor: pointer;
}